/*--- add by fxh 2014/02/08 ---*/
.login h1{background:#54C0D1;height:85px;overflow:hidden;margin-bottom:20px;}
.login h1 a{width:264px;margin:0 auto;text-indent:0;background:none;}
.login h1 a img{margin-top:10px;border:none;}
.denglu_box{width:300px;margin:0 auto;}